@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

:root {
  --InterFont: 'Inter', sans-serif;
  --LatoFont: 'Lato', sans-serif;
  --SaintFont: 'Mrs Saint Delafield', cursive;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  color: #fefefe;
  font-family: var(--LatoFont);
  background-color: #1e1e1e;
}

.interFont {
  font-family: var(--InterFont) !important;
}


.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.fadeInUp {
  animation: fadeInUp 0.5s ease-in-out;
}