@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

:root {
  --font-main: 'Rubik', sans-serif;
  --transition: 0.4s;
  --color-white: #fff;
  --color-lightn: #c4cfde;
  --color-primary: #2196f3;
  --background-color: #212428;
  --shadow-1: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d,inset -21px -21px 19px #202225;
  --background-color-1: linear-gradient(145deg,#1e2024,#23272b);
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--background-color);
}